<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1136}</string>
                <key>spriteSourceSize</key>
                <string>{720,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,117}</string>
                <key>spriteSourceSize</key>
                <string>{140,117}</string>
                <key>textureRect</key>
                <string>{{1,723},{140,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{750,789},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_ingot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{815,723},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{878,723},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,63}</string>
                <key>spriteSourceSize</key>
                <string>{52,63}</string>
                <key>textureRect</key>
                <string>{{941,788},{52,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moon_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{221,723},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{113,95}</string>
                <key>textureRect</key>
                <string>{{597,723},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_diamonds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{941,723},{63,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_diamonds_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{318,723},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_diamonds_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{411,723},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_diamonds_xl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{504,723},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,76}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{143,723},{114,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watermelon_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,91}</string>
                <key>spriteSourceSize</key>
                <string>{72,91}</string>
                <key>textureRect</key>
                <string>{{676,723},{72,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{750,723},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eat_bg.png</string>
            <key>size</key>
            <string>{1138,841}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2d5b0f434c740bf589f04ae5d4964b8:29a766f6bcd99d2d61aae0c965970562:d7315b6344bd40a3add9e6fdf01540a2$</string>
            <key>textureFileName</key>
            <string>eat_bg.png</string>
        </dict>
    </dict>
</plist>
