<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{226,163}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,671},{226,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{226,163}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,836},{226,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{226,165}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,170},{226,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{226,165}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,337},{226,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,165}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{1,504},{226,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{102,88}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{113,1001},{102,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{110,84}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{1,1001},{110,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{113,1091},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{110,84}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{1,1087},{110,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{1,1173},{77,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{228,1251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c1edae95f70be95254c7b86ce6c9719:3ca885fd3d8d2dc817e2e5db9ed1492d:eee9ac4705ce2dddab0b9fdbb6e99b8f$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
